
<!DOCTYPE html>
<html lang="en">
  <div style="background-image: url('https://uploaddeimagens.com.br/images/003/020/909/full/wallpaper_%281%29.jpg?1609802231'); background-size=cover;">
            
            <!--button-->
      <div class="container">
        <div class="row" style="height:1400px">
            <div class= "col">
                <h1 class="text-white">Start finding freelancers for your next projects </h1>
                <p class="text-white">Freelance hire is looking out for you by selecting highly skilled freelancers and putting you icontact with them, in just a click. </p>
                <a href="../user/login" name="singlebutton" class="btn btn-primary" href="../user/login">Next Step!</a> 
            </div>
            <div class="col">
                <img class="rounded align-middle" style="width:300px;"src="https://uploaddeimagens.com.br/images/003/020/903/full/pexels-photo-461077.jpeg?1609801536">
            </div>
        </div>
    </div>
  </div>
               
        

                <!--footer-->
                <div class="row">
                  <i class="small text-align-right text-muted"></i>
                   <p class="text-center mt-0">Are you a freelancer looking to work with us?</p>
                     <p class="text-center text-primary">You've found the right place, give us a call or send us an email and we will get back to you as soon as possible!</p>
                        <div>+44 985563321</div>
                        <a  href="logans.bacca@gmail.com">logans.bacca@gmail.com</a>
                        <div class="small text-align-right text-muted">Copyright © 2020 - Logan Bacca </div>
                </div>
                
       
    </body>
</html>