
<!DOCTYPE html>
<html lang="en">
  <div style="background-image: url('https://uploaddeimagens.com.br/images/003/020/909/full/wallpaper_%281%29.jpg?1609802231'); background-size:auto 100%; padding-top:250px; padding-bottom:300px">
            
            <!--button-->
      <div class="container">
        <div class="row" >
            <div class= "col">
                <h1 class="text-white">Start finding freelancers for your next projects </h1>
                <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel dolor et nisi rhoncus sagittis. In dignissim diam diam, sed accumsan nibh congue vel. </p>
                <a href="../user/login" name="singlebutton" class="btn btn-success" href="../user/login">Next Step!</a> 
            </div>
            <div class="col">
                <img class="rounded align-middle" style="width:500px;"src="https://uploaddeimagens.com.br/images/003/020/903/full/pexels-photo-461077.jpeg?1609801536">
            </div>
        </div>
    </div>
  </div>
