
<!DOCTYPE html>
<html lang="en">
  

               <!--button-->
        <div class="text-center mt-5"> 
    <a href="../user/login" name="singlebutton" class="btn btn-primary" href="../user/login">Next Step!</a> 
</div>
        

                <!--footer-->
                <div class="row">
                  <i class="small text-align-right text-muted"></i>
                   <h2 class="text-center mt-0">Are you a freelancer looking to work with us?</h2>
                     <p class="text-center text-primary">You've found the right place, give us a call or send us an email and we will get back to you as soon as possible!</p>
                        <div>+44 985563321</div>
                        <a  href="logans.bacca@gmail.com">logans.bacca@gmail.com</a>
                        <div class="small text-align-right text-muted">Copyright © 2020 - Logan Bacca </div>
                </div>
                
       
    </body>
</html>