<!DOCTYPE html>
<html>
  <head>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/homepage">FreelanceHire</a>
    </div>
    <ul class="nav navbar-nav">
       <li><a class="navbar-brand" href="../user/profile/" id="account"> Account</a></li>
        <li><a class="navbar-brand" href="javascript:;" onclick="register()">Register</a></li>
        <li><a class="navbar-brand" href="javascript:;" onclick="hireNow()"> Search Freelancers</a></li>
          <li><a class="navbar-brand" href="/user/login">Log in </a></li>
         <li class = "navbar-brand" href="javascript:;" onclick="logout()">Log out </a></li>
          
    </ul>
  </div>
</nav>

    <title>{{title}}</title>
    
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  </head>
  <body class="container">
    {{{body}}}
  </body>
</html>

<script>

    function logout() {
        localStorage.setItem('token', '');
        window.location.href = "/user/login";
    }

    function hireNow() {
       let hasToken = localStorage.getItem('token'); 
        if (hasToken) {
             window.location.href = "/hirenow";
        }
        else {
            alert("Authorization Denied, please Log In!")
        }

    }

        function register() {
             window.location.href = "/user/registration";
        }
        



</script>