<nav>
    <h1> <FreelanceHire</h1>
    <ul>
        <li><a href="javascript:;" onclick="logout()">Log out </a></li>
        <li><a href="/user/login">Log in </a></li>
        <li><a href="javascript:;" onclick="register()">Register</a></li>
        <li><a href="javascript:;" onclick="hireNow()"> Hire now!</a></li>
    </ul>
</nav>

<div style="width: 600px; margin: 0px auto;">
    <h2>Login</h2>
 
    <form method="post">
        <p><input type="text" name="email" placeholder="Email"></p>
        <p><input type="password" name="password" placeholder="Password"></p>
        <p><button type="submit">Submit</button></p>
    </form>
</div>

<script>

    function logout() {
        localStorage.setItem('token', '');
        window.location.href = "/user/login";
    }

    function hireNow() {
       let hasToken = localStorage.getItem('token'); 
        if (hasToken) {
             window.location.href = "/hirenow";
        }
        else {
            alert("Authorization Denied, please Log In!")
        }

    }

        function register() {
             window.location.href = "/user/registration";
        }
        

    document.addEventListener( 'submit', ( e ) => {
        e.preventDefault()
    
        fetch( '/api/user/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify( {
                email: document.querySelector( 'input[name="email"]' ).value,
                password: document.querySelector( 'input[name="password"]' ).value
            } )        
        } ).then( async res => {
            res = await res.json();
            console.log(res)
            if(!res.token) {
               alert('User not found!')
            }else {
                localStorage.setItem("token" ,res.token)
                localStorage.setItem("userId" ,res.data._id)
                window.location.href = "/hirenow";
                console.log('User logged!');
            }
        }, err => {
            console.log("error: "+ err)
        });
    } );

</script>

 