<div style="width: 600px; margin: 0px auto;">
    <h2>Login</h2>
 
    <form method="post">
        <p><input type="text" name="email" placeholder="Email"></p>
        <p><input type="password" name="password" placeholder="Password"></p>
        <p><input type="submit" value="Login"></p>
    </form>
</div>

<script>
    document.addEventListener( 'submit', ( e ) => {
        e.preventDefault();
    
        fetch( '/api/user/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify( {
                email: document.querySelector( 'input[name="email"]' ).value,
                password: document.querySelector( 'input[name="password"]' ).value
            } )        
        } ).then( async res => {
            var data = await res.json();
            
            console.log('User logged!');
        } );
    } );
</script>
 
<!--<script type="text/javascript" src="script.js"></script>-->